/* General Styles */
$primary: #1F363D;
$primary-light: #40798C;
$secondary: #70A9A1;
$secondary-light: #9EC1A3;
$tertiary: #CFE0C3;
$dark-grey: #333;

$xs: 576px;

body, html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif !important;
    background-color: #eee;
}


.full-height {
    height: 100vh;
}

.section-header {
    font-weight: 600;
    font-size: 40px;
    text-decoration: underline;
}

.primary-light {
    color: $primary-light;

    &:hover {
        color: $primary-light;
    }
}

.dub-link {
    text-decoration: underline;
}


/* Landing Screen */
#landing-screen {
    background-color: #eee;
    color: $dark-grey;
    font-size: 32px;

    .main-portrait {
        width: 100%;
        max-width: 300px;
    }

    .img-thumbnail {
        border-color: $dark-grey;
        background-color: $dark-grey;
    }
}

/* Top Bar */
#top-bar {
    background-color: $primary;

    .nav-link {
        font-size: 34px;
        background-color: $primary;
        color: $tertiary;
        padding: 10px 15px;
        transition: 0.3s ease;

        &:hover {
            color: $primary;
            background-color: $tertiary;
        }
    }
}

/* Skills Section */

#skills {
    background-color: white;
    background-image: url(../images/skills-bg.png);
    background-size: auto 100%;
    background-repeat: no-repeat;

    .skill-card {
        transition: 0.3s ease;

        .fab {
            font-size: 34px;
        }
    }

    .list-group-item {
        transition: 0.15s ease;
    }

    #front-end-frameworks-card, #technologies-card {
        .card-title {
            font-size: 26px;
        }
    }
}

/* Projects Section */
#projects {
    h3 {
        border: 1px solid black;
        text-align: center;
        margin-top: 60px;
    }

    ul {
        list-style-type: ">   ";

        li {
            text-indent: 0;
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 20px;

            .sub {
                font-size: 18px;
                color: #333;
            }
        }
    }

    .sub {
        text-indent: 10px;
    }
}

/* Footer */
#footer {
    background-color: $primary-light;
    margin-top: 50px;
    padding: 35px 0 0 0;

    #icon-links-bar {
        width: 600px;
        display: block;
        margin: 0 auto;

        .icon-link {
            font-size: 26px;
            margin: 0 15px;
            background-color: $primary;
            color: white;
            padding: 10px 15px;
            transition: 0.3s ease;

            &:hover {
                background-color: $tertiary;
                color: $primary;
            }

            @media(max-width: $xs) {
                font-size: 18px;
                margin: 0 10px;
                padding: 5px 10px;
            }
        }
    }

    #love-footer {
        color: white;
        font-size: 15px;

        .fa-heart {
            color: #fb3958;
        }
    }
}