html {
  font-family: sans-serif;
  color: white;
  cursor: default;
}

#topPage h1 {
  display: inline-block;
  font-size: 80px;
  margin: 25px 0 0 75px;
  padding: 10px;
  background-color: #EDF5E1;
  color: #05386B;
  border-radius: 5px;
}

#topPage h3 {
  display: inline-block;
  margin-top: 5px;
  margin-left: 75px;
  padding: 5px;
  border-radius: 5px;
  font-size: 35px;
  background-color: #05386B;
}

#topPage h2 {
  margin-top: 0;
  padding-left: 75px;
  font-size: 30px;
  color: #05386B;
}

#topPage ul {
  padding: 5px;
  display: inline-block;
  margin-left: 75px;
  list-style: none;
  margin-top: -10px;
  background-color: #EDF5E1;
  border-radius: 5px;
}

#topPage li {
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  color: #379683;
  font-variant: small-caps;
  transition: ease .5s all;
}

#topPage a {
  margin: 0px;
  padding: 0px;
  font-size: 25px;
  color: #379683;
  font-variant: small-caps;
  transition: ease .5s all;
  text-decoration: none;
}

#topPage li:hover{
  color: #05386B;
}

#topPage a:hover{
  color: #05386B;
}

#topPage {
  height: 550px;
  background-color: #5cdb95;
  background-image: url("lockimg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#secondPart {
  margin-top: -20px;
  height: 260px;
  background-color: #EDF5E1;
}

#secondPart h1 {
  display: inline-block;
  color: #05386B;
  margin: 15px 0 0 25px;
  padding: 5px;
  line-height: 1.45em
}

.span-bg {
  background-color: #5cdb95;
  color: #05386B;
  padding: 5px;
}

.bg-blue {
  padding: 5px;
  line-height: 1.5em;
  background-color: #05386B;
  color: #EDF5E1;
}

#thirdPart {
  color:#EDF5E1;
  height: 350px;
  background-color: #5cdb95;
}

#thirdPart h1 {
  display: inline-block;
  margin: 10px 0 0 25px;
  padding: 5px;
  background-color: #EDF5E1;
  color: #05386B;
  border-radius: 5px;
}

#thirdPart ul {
  list-style: none;
}

#thirdPart li {
  font-size: 150%;
  line-height: 1.4em;
}

#thirdPart ul li {
  display: inline-block;
  padding: 2px;
  background-color: #05386B;
  border-radius: 2px;
}

#thirdPart ul ul li {
  display: block;
  color: #05386B;
  background-color: #5cdb95;
}
