/* General Styles */
$yellow: #b7a57a;
$dark: #393f4d;
$darker: #292d38;
$blue: #8968CD;
$purple: #4b2e83;

$xs: 576px;

body, html {
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif !important;
}

.full-height {
    height: 100vh;
}

.full-width {
    width: 100%;
}

.section-header {
    font-weight: 600;
    font-size: 40px;
}

.yellow {
    color: $yellow;
}

.yellow:hover {
    color: $yellow;
}

/* Landing Screen */
#landing-screen {
    background-color: $dark;
    background-image: url(../images/extracolor5.png);
    background-size: cover;
    padding: 0 10px;
    
    table {
        color: white;
        font-size: 32px;
    }
}

/* Skills Section */
#skills {
    background-color: white;
    background-image: url(../images/skills-bg.png);
    background-size: auto 100%;
    background-repeat: no-repeat;

    .skill-card {
        transition: 0.3s ease;

        .fab {
            font-size: 34px;
        }
    }

    .list-group-item {
        transition: 0.15s ease;
    }

    #front-end-frameworks-card, #technologies-card {
        .card-title {
            font-size: 26px;
        }
    }
}

/* Projects Section */
#projects {
    background-color: #eee;

    .row {
        width: 80%;
        margin: 0 auto;
    }

    #gossamer-gear {
        background-color: #eee;
    }

    .project-square {
        background-color: white;

        &:hover .overlay{
            opacity: 1;
        }

        img {
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: white;
        }

        .text {
            color: black;
            font-size: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
        }

        .subtext {
            color: $blue;
            font-size: 16px;
        }
    }
}

/* Footer */
#footer {
    background-color: $dark;
    margin-top: 50px;
    padding: 35px 0;

    #icon-links-bar {
        width: 500px;
        display: block;
        margin: 0 auto;

        .icon-link {
            font-size: 26px;
            margin: 0 15px;
            background-color: $darker;
            color: white;
            padding: 10px 15px;
            transition: 0.3s ease;

            &:hover {
                background-color: $yellow;
                color: $dark;
            }

            @media(max-width: $xs) {
                font-size: 18px;
                margin: 0 10px;
                padding: 5px 10px;
            }
        }
    }
}