body, html {
  background-color: rgb(240, 240, 240);
  margin: 0;
  padding: 0;
}

/*Nav bar*/
.nav-bar {
  border: 2px solid black;
}

/*All items div*/
.all-items-div {
  padding-top: 1px;
  transform: translate(0, 20px);
  background-color: rgb(176, 224, 230);
  background-image: url("imgs/snowfall.gif");
  clear: both;
  height: 1100px;
  text-align: center;
  border-radius: 5px;
}

/*item-div*/
.item-div {
  background-color: white;
  margin: 1%;
  float: left;
  display: block;
  height: 300px;
  border: 1px solid lightgrey;
  width: 30%;
  line-height: .5;
  text-align: center;
  transition: ease .3s all;
}

.item-div:hover {
  transform: scale(1.1);
  border-color: grey;
}

.item-div img {
  height: 60%;
}

/*footer style*/

footer {
  position: static;
	height: 60px;
	width: 100%;
	margin: 20px auto 0 auto;
	background-color: #ddd;
}

footer p {
  padding-top: 22px;
}