html, body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  text-align: center;
}

.top-page {
  height: 100vh;
  background: url("background.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

#icon-bar {
  width: 100%;
  overflow: auto;
}

#icon-bar a {
  float: left;
  text-align: center;
  width: 6%;
  margin: 10px 7%;
  transition: all 0.3s ease;
  color: black;
  font-size: 28px;
  target:
}

#icon-bar a:hover {
  color: #355C7D;
}

.vert-center {
  margin-top: 5em;
}

.main-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 48px;
  transition: all .5s ease;
}

#selected-projects-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#selected-projects-list a {
  color: #355C7D;
  text-decoration: none;
  font-size: 26px;
  transition: all .3s ease;
}

#selected-projects-list li {
  display: inline-block;
  margin: 5px 0;
  padding: 0 10px;
  border-radius: 15px;
  transition: all .3s ease;
}

#selected-projects-list a:hover {
  color: white;
}

#selected-projects-list li:hover{
  background: #355C7D;
}

.centered-text{
  display: inline-block;
}

.background-black{
  background-color: black;
  color: white;
}

.hor-vert-center-h3 {
  font-size: 18px;
  display: inline-block;
  margin-top: -20px;
  padding: 0 5px;
  text-align: center;
}

.main-fa-list {
  text-align: left;
}
