body, html {
  text-align: center;
  font-weight: 400;
}

iframe {
  margin-top: 10px;
}

h2 {
  color: firebrick;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  font-size: 20px;
  text-transform: none;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

hr {
  color: crimson;
  width: 800px;
  border-color: crimson;
}

.phone-number {
  color: deepskyblue;
  text-decoration: none;
}

main {
  background-image: none;
}

@keyframes bg-change {

}
