body, html {
  background-image: none;
  background-color: #eee;

  padding-bottom: 50px;
}

header {
  background-image: url("../images/contact-header-img.jpg");
  background-size: contain !important;
}

@media(max-width: 1080px){
  header{
    background-size: auto 400px !important;
  }
}

.fa-exclamation-triangle {
  color: orange;
}

h2 a {
  font-size: 35px;
  color: black;
  margin: 0 20px;
  transition: ease 0.2s;
}

h2 a:hover {
  color: darkblue;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

#name {
  font-size: 38px;
  font-weight: bold;
}

.full-width-flex {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

#left-flex-div {
  flex: 2 2 100px;
}

#right-flex-div {
  flex: 1 1 50px;
}


@media(max-width: 550px){
  .full-width-flex {
    display: inline;
  }

  a.outline-button-dark {
    width: 80% !important;
  }

  #toggle:checked + .menu-links {
    display: block !important;
  }

  html {
    padding-bottom: 50px !important;
  }
}

a.outline-button-dark {
  display: inline-block;
  border-radius: 5px;
  background-color: transparent;
  border: 1px solid #444;
  color: #444;
  font-size: 20px;
  text-decoration: none;
  width: 100%;
  padding: 10px 0;
}

a.outline-button-dark:hover {
  background-color: #444;
  color: white;
}
