body, html {
  background-image: none;
  background-color: #eee;

  padding-bottom: 50px;
}

header {
  background-image: url("../images/contact-header-img.jpg");
  background-size: contain;
}

@media(max-width: 1080px){
  header{
    background-size: auto 400px;
  }
}

.fa-exclamation-triangle {
  color: orange;
}

h2 a {
  font-size: 35px;
  color: black;
  margin: 0 20px;
  transition: ease 0.2s;
}

h2 a:hover {
  color: darkblue;
}

h2 {
  font-size: 26px;
}

#name {
  font-size: 38px;
  font-weight: bold;
}

.full-width-flex {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

#left-flex-div {
  flex: 2 2 100px;
}

#right-flex-div {
  flex: 1 1 50px;
}

@media(max-width: 550px){
  .full-width-flex {
    display: inline;
  }

  .btn-block {
    width: 90%;
  }

  #toggle:checked + .menu-links {
    display: block !important;
  }
}
