body, html {
  font-family: "Muli", sans-serif;
  text-align: center;

  background-color: #eee;

  height: 100vh;

  letter-spacing: 1.5px;
  color: white;

  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-image: url("../images/shore.jpg");
  height: 400px;

  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;

  margin-bottom: 50px;
}

header h1 {
  width: fit-content;
  display: block;
  margin: 90px auto 10px auto;
  padding: 0 10px;
  font-variant: small-caps;
  font-size: 60px;
  background-color: black;
}

#portfolio-grid {
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-column-gap: 20px;
  grid-row-gap: 50px;
  justify-items: center;
}

.project-tile {
  border: 2px solid lightblue;
  width: 400px;
  height: auto;
  background-color: white;
}

.project-tile img {
  width: 400px;
  height: auto;
  border-bottom: 2px solid lightblue;
  margin-bottom: 0;
}

.project-tile p {
  text-align: center;
  font-size: 18px;
  color: black;
  margin-top: 2px;;
}

.nav-bar {
  padding: 30px 10px 30px 10px;
  margin-left: -21px;
}

.nav-bar a {
  color: black;
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  font-size: 19px;
  transition: ease 0.3s all;
}

.nav-bar a:hover {
  color: rgba(248, 131, 121, 0.9);
}

.nav-bar .main-logo {
  color: white;
  font-size: 2em;
  font-weight: bold;
  margin: 0 20px;
}

.nav-bar .main-logo:hover {
  color: rgb(248, 131, 121);
}

.mobile-nav-bar {
  display: block;
  padding: 5px 0;

  min-height: 70px;
}

.main-logo {
  color: white;
  font-size: 2em;
  font-weight: 400;
  margin: 0 20px;
  text-decoration: none;
}

.mobile-nav-bar .main-logo {
  font-weight: bold;
}

.mobile-nav-bar label {
  position: absolute;
  left: 15px;
  font-size: 26px;
  cursor: pointer;
}

.menu-links {
  display: none;

  background-color: rgb(100, 100, 100);
  background-color: rgba(0, 0, 0, 0.2);
  margin: 10px 10px;
}

.menu-links a {
  display: block;
  clear: right;
  text-decoration: none;
  color: white;
  height: 40px;
  line-height: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid white;
}

.menu-links a:first-of-type {
  border-top: 2px solid white;
  padding-top: 20px;
}

#toggle {
  display: none;
}

@media only screen and (min-width:550px){
  .mobile-nav-bar {
    display: none;
  }
}

@media only screen and (max-width: 550px){
  .nav-bar {
    display: none;
  }

  #toggle:checked + .menu-links {
    display: block;
  }

  #portfolio-grid {
    width: 100%;
  }

  .project-tile {
    width: 350px;
  }

  .project-tile img {
    width: 350px;
  }

}

h2 {
  color: black;
  margin: 40px 0;
}
