body, html {
  height: auto;
}

main {
  overflow: visible;
}

@keyframes bg-change {

}

header {
  background-image: url("../images/bg-img3.jpg");
  background-position: center;
  margin-bottom: 15px;
}

#category-div {
  width: 90%;
  margin: 0 5%;
  float: left;
  border-bottom: 2px solid firebrick;
}

.right, .left {
  width: 40%;
  margin: 0 5%;
  float: left;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 8px;
}

.title {
  font-weight: 600;
  font-size: 1.1em;
}

.desc {
  font-weight: 500;
  font-size: .9em;
}

.price {
  font-weight: 600;
  margin-bottom: 25px;
}

.vl {
  position: absolute;
  left: 49%;
  margin: 0 2px;
  border-right: 2px solid firebrick;
  height: 520px;
}

h2 {
  width: fit-content;
  display: block;
  margin: 10px auto 10px auto;
  border-bottom: 2px solid firebrick;
  padding: 0 10px;
}

.food-sections {
  width: 100%; /* Full-width */
  overflow: auto; /* Overflow due to float */
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}

.food-sections a {
  flex: 1;
  text-align: center; /* Center-align text */
  padding: 5px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: #444; /* White text color */
  font-size: 20px; /* Increased font size */
  text-decoration: none;
  border: 1px solid #444;
  margin: 0 4px;
}

.food-sections a:hover {
  background-color: #444; /* Add a hover color */
  color: white;
}

#menu-container {
  width: 95%;
  margin: 0 auto;
}

#menu-pdf-viewer {
  margin-bottom: 20px;
}

.menu-download {
  float: right;
  margin: 10px 25px 20px 0;
  text-decoration: none;
}
